


<div ng-show="error" class="alert alert-danger" role="alert"> {{error}}</div>


<div  ng-show="user">
    <div ><h3>{{user.name}}</h3></div>
    <!--userinage div-->
    <div class="media col-md-6">        
        <div class="media-left media-middle">
            <img class="media-object img-responsive" src="{{user.avatar_url}}" title="{{user.name}}" />
        </div>
    </div>
    <br />
    <div class="col-xs-12 col-md-6">
        <div class="col-xs-6"><h5> Order:</h5></div>
        <div class="col-xs-6 form-group"> 
            <select class="form-control" ng-model="repoSortOrder">
                <option value="+name">Name</option>
                <option value="-stargazers_count">Stars</option>
                <option value="+language">Language</option>
            </select>
           
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <table class="table" ng-show="user">
            <thead>
            <th>Name</th>
            <th>Stars</th>
            <th>Language</th>
            </thead>
            <tbody>
                <tr ng-repeat="repo in repos |  orderBy:repoSortOrder">
                    <td>{{repo.name}}</td>
                    <td>{{repo.stargazers_count|number}}</td>
                    <td>{{repo.language}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

